{% extends 'base.html' %} 
{% block title %}
        <title>Maturanc.com - Iskanje soplesalcev</title>
    {% endblock %}
{% block content %}{% load static %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <form autocomplete="off">
                <div class="card-content">
                    <span class="card-title">Filter za iskanje soplesalcev</span>
                    <!--naslov kartice-->
                    <div class="divider" style="width: 100%"></div>
                    <div class="row">



                        <div class="input-field col s12 m12 l6">
                            <input name="sola" type="text" id="sola_search"/>
                            <label for="sola_search">Izberi šolo</label>
                        </div>

                        <div class="input-field col s12 m12 l6">
                            <input name="regija" type="text" id="regija_search"/>
                            <label for="regija_search">Izberi Regijo</label>
                        </div>
                        
                    </div>
                    <div class="row">

                        <div class="col s12">
                            
                                <label style="font-size: 12pt;">Izberite višino: <span id="slider1-span"></span>cm - <span id="slider2-span"></span>cm</label>
                                <div class="sliders" id="iskanjepovisini"></div>

                            
                        </div>

                    </div>
                    

                </div>
                </form>
            </div>
        </div>

    </div>
    <div class="row searchresult" id="rezultatiIskanja">
        
        
    </div>
</div>

<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/iskanje.js' %}"></script>
<script src="{% static 'js/noUiSlider.js' %}"></script> 
{% endblock %}