<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head runat="server">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    

    <script src="{% static 'js/jquery.autocomplete.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    
    {% block title %}
        
    {% endblock %}

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    
    <link href="{% static 'css/StyleSheet.css' %}" rel="stylesheet" />
    <link href="{% static 'css/media.css' %}" rel="stylesheet" />
    <link href="{% static 'css/listInput.css' %}" rel="stylesheet" />
    <link href="{% static 'css/noUislider.css' %}" rel="stylesheet" />
    <link href="{% static 'css/autocompletejq.css' %}" rel="stylesheet" />
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet" />
    
    
    
    {% block head %}
    {% endblock %}
    <meta name="theme-color" content="#455A64">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="google-site-verification" content="XJ4FNWCDh14ZHreu8Wyv-sB0cbD_MWg-n-hEbrmSilA" />
    <meta name="google-site-verification" content="G2vDNd58O8ThUexGgGqLc2hPTAVnw8XvoAGFQVxjhdU" />
    <meta name="description" content="Spletni portal maturanc.com je namenjen maturantom. Omogoča iskanje soplesalcev za maturantski ples. Prodajo rabljenih oblek, učbenikov... Spletna stran omogoča obveščanje maturantov s strani srednje in plesne šole.">
</head>

<body>

    <!--Navigacija-->

    <div class="navbar-fixed">
        <nav id="meni">
            <div class="nav-wrapper blue-grey darken-2 ">
                <div class="container">
                    <a href="{% url 'domov' %}" class="brand-logo">Maturanc</a>
                    <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>


                    <ul class="right hide-on-med-and-down">

                        
                        <li><a class='dropdown-button' href='#' data-beloworigin="true" data-activates='dropdown1' data-hover="true">Maturantski ples<i class="material-icons right">arrow_drop_down</i></a></li>
                        
                        <li><a href="#">Trgovina</a></li>
                        <li><a href="#">Izlet</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'chat' %}">Chat <span class="new badge red" data-badge-caption="novih">{{nova_sporocila}}</span></a></li>
                        
                        
                        <li>
                            <a href="{% url 'profil' %}" class="dropdown-button" data-beloworigin="true" data-hover="true" data-activates="dropdown3" title="Račun"><i class="material-icons right">arrow_drop_down</i>
                                {% load thumbnail %}
                        
                                {% thumbnail request.user.profilnaslika.slika "75x75" crop="center" as im %}
                                    <img class="circle minislikaracun right" src="{{ im.url }}"/> 
                                {% endthumbnail %}


                                 {{user.first_name}}
                            </a>
                        </li>
                        <ul id='dropdown3' class='dropdown-content'>
                                <li><a href="{% url 'urejanje_profila' %}">Nastavitve</a></li>
                                <li><a href="#" title="Odjava" id="odjavaButton">Odjava <i style="font-size: 13pt;" class="fa fa-sign-out right" aria-hidden="true"></i></a></li>
                        </ul>
                    
                        {% else %}
                        
                        <li><a href="#modal1" class="waves-effect waves-light btn modal-trigger">Prijava</a></li>
                        {% endif %}
                    </ul>
                    <!-- telefon meni -->
                    <ul class="side-nav" id="mobile-demo">
                        {% if request.user.is_authenticated %}
                        <li>
                            <div class="userView">
                                <div class="background">

                                    <img class="responsive-img" src="{% static 'img/rsz_1rsz_suit-couple-blue-shoes.jpg' %}" />
                                </div>
                                <a href="{% url 'profil' %}">
                                    {% thumbnail request.user.profilnaslika.slika "75x75" crop="center" as im %}
                                        <img class="circle minislikamenutele" src="{{ im.url }}"/> 
                                    {% endthumbnail %}    
                                </a>
                                <a href="{% url 'profil' %}"><span class="white-text name">{{user.first_name}} {{user.last_name}}</span></a>
                                <a href="{% url 'profil' %}"><span class="white-text email">{{user.email}}</span></a>

                            </div>
                        </li>
                        {% endif %}
                        <li><a class='dropdown-button' href='#' data-beloworigin="true" data-activates='dropdown2'>Maturantski ples<i class="material-icons right ">arrow_drop_down</i></a></li>
                        
                        
                        <li><a href="#">Trgovina</a></li>
                        <li><a href="#">Izlet</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'chat' %}">Chat</a></li>
                        
                        <li>
                            <div class="divider" style="width: 100%"></div>
                        </li>
                        <li><a href="{% url 'urejanje_profila' %}">Nastavitve profila</a></li>
                        <li>
                            <div class="divider" style="width: 100%"></div>
                        </li>
                        <li><a href="#" id="odjavaButton">Odjava</a></li>

                        {% else %}
                        <li>
                            <div class="divider" style="width: 100%"></div>
                        </li>
                        <li><a href="#modal1" class="waves-effect waves-light modal-trigger">Prijava</a></li>
                        {% endif %}

                    </ul>





                </div>


            </div>



        </nav>

    </div>




    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        {% if user.is_authenticated %}
        <li><a href="{% url 'iskanje' %}">Iskanje soplesalcev</a></li>
        {% else %}
        <li><a href="#modal1" class="modal-trigger">Iskanje soplesalcev</a></li>
        {% endif %}
        <li><a href="#">Plesne šole</a></li>
    </ul>
    <ul id='dropdown2' class='dropdown-content'>
        {% if user.is_authenticated %}
        <li><a href="{% url 'iskanje' %}">Iskanje soplesalcev</a></li>
        {% else %}
        <li><a href="#modal1" class="modal-trigger">Iskanje soplesalcev</a></li>
        {% endif %}
        <li><a href="#">Plesne šole</a></li>
    </ul>

    {% if user.is_authenticated %}
    {% else %}
    <!--popup Login-->
    <div id="modal1" class="modal ">
        <div class="modal-content ">
            <div class="row">
                <div class="col s6">
                    <h4>Prijava</h4>

                </div>
                <div class="s6 right">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-light btn-flat"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>

            </div>
            <div class="row" id="prijava">
                <form id="prijava-form">
                <div class="col s12 m6">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12 ">
                                <input id="email" type="email" name="email" />
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" name="geslo" />
                                <label for="password">Geslo</label>
                            </div>
                        </div>
                    </form>
                    <div class="col s12">
                        <a class="waves-effect waves-light btn" id="prijavabtn" style="display: block; width: 100%;">Prijava</a>

                    </div>

                </div>
                </form>

                <div class="col s12 m6 center" id="socialLogin">


                    <div class="row">
                        <div class="col s12 ">
                            {% load socialaccount %}
                            <a href="{% provider_login_url "facebook" method="oauth2" %}"id="facebook" class="waves-effect waves-light btn" style="background: #3B5998">Facebook prijava  <i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 ">
                            <a href="{% provider_login_url "google" %}" id="google" class="waves-effect waves-light btn" style="background: #DD4B39">Google+ prijava <i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>


                </div>

            </div>
            <div class="row">

                <div class="col s12 center">
                    <a href="#modal2" class="waves-effect waves-ligh btn-flat modal-trigger">Registracija</a>
                </div>
            </div>
        </div>
    </div>



    <!--RegPopup -->
    
    <div id="modal2" class="modal">
        <div class="modal-content ">
            <div class=" row">


                <div class="col s6">
                    <h4>Registracija</h4>
                </div>
                <div class="s6 right">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-light btn-flat"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="row" id="reg">

                <form id="form-registracija" class="col s12" action="/registracija/" method="POST" autocomplete="off">
                {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="imeReg" type="text" class="validate" name="ime" />
                            <div class="error"></div>
                            <label for="imeReg">Ime</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="priimekReg" type="text" class="validate" name="priimek" />
                            <div class="error"></div>
                            <label for="priimekReg">Priimek</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 ">
                            <input id="emailReg" type="email" class="validate" name="email" />
                            <div class="error"></div>
                            <label for="emailReg" data-error="Email ne ustreza">E-mail naslov</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 ">
                            
                            <input id="passwordReg" type="password" class="validate" name="geslo" />
                            <div class="error"></div>
                            <label for="passwordReg">Geslo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 ">
                            <select id="spolReg" name="spol">
                                <option value="" disabled selected>Izberi spol</option>
                                <option value="1">Moški</option>
                                <option value="2">Ženski</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 ">
                            <button type="submit" id="submit-button" class="waves-effect waves-light btn" style="display: block; width: 100%;">Registracija</button>
                        </div>
                    </div>
                </form>
                <script src="{% static 'js/registracija.js' %}"></script>

            </div>


        </div>
    </div>
    {% endif %}





    <!--Vsebina podstrani MasterPage.master-->

    {% block content %} 
    
    
    
    {% endblock %}

    <!--Noga / footer-->
    <footer class="page-footer blue-grey darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Maturanc noga</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Socialna omrežja</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Mail</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Snapchat</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright blue-grey darken-3">
            <div class="container">
                © {% now 'Y' %} Copyright Maturanc.com
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <!--Skripte-->

    
    
    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script> -->


    <script src="{% static 'js/custom.js' %}"></script>
    
    <script src="{% static 'js/prijava.js' %}"></script>
    
    
    <script src="{% static 'js/jquery.autocomplete.js' %}"></script>
    <script src="{% static 'js/noUiSlider.js' %}"></script>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/additional-methods.min.js"></script>

    <script src="{% static 'js/validate.js' %}"></script>
    

    <script>
        $(document).ready(function () {
            Materialize.updateTextFields();

            $('.modal-trigger').leanModal();
            $('select').material_select();

            //  $('#swiskanjesoplesalcev').click(function () {
            //    $('#iskanjesoplesalcevform').toggleClass('hide');
            // });

            //        $('#swsocialnaomrezja').click(function () {
            //          $('#socialnaomrezja').toggleClass('hide');
            //    });
        });

        // Toggle search

        $('a#toggle-search').click(function () {
            var search = $('div#search');

            search.is(":visible") ? search.slideUp() : search.slideDown(function () {
                search.find('input').focus();
            });

            return false;
        });
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-90493849-1', 'auto');
        ga('send', 'pageview');

    </script>


</body>

</html>