{% block title %}
        <title>Maturanc.com</title>
    {% endblock %}

<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Kmalu bomo nazaj!</h1>
    <div>
        <p>Opravičujemo se Vam za nevšečnosti. Spletna stran je še v izdelavi</p>
        <p>&mdash; Ekipa maturanc.com</p>
    </div>
</article>