/*Zmodan autocompletejqplugin css*/
.autocompletejq-suggestions {
    font-size: 16px;
    color: #BA0B0B;
    display: block;
    line-height: 22px;
    background:white;
    margin: 6px 0px;
    
}

.autocompletejq-suggestion {
    padding: 14px 16px;
    white-space: nowrap;
    overflow: hidden;
}

.autocompletejq-selected {
    background: #F0F0F0;
}

.autocompletejq-suggestions strong {
    font-weight: normal;
    color: #000000;
}

.autocompletejq-group {
    padding: 2px 5px;
}

    .autocompletejq-group strong {
        display: block;
        border-bottom: 1px solid #000;
    }